@tailwind base;
@tailwind components;
@tailwind utilities;

.selected-marker {
  filter: hue-rotate(45deg) brightness(1.5);
}

.unselected-marker {
  filter: hue-rotate(0deg) brightness(1);
}

.current-location-marker {
  background: transparent;
}

.ripple {
  width: 20px;
  height: 20px;
  background: #2563eb;
  border-radius: 50%;
  position: relative;
}

.ripple::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #2563eb;
  border-radius: 50%;
  animation: ripple 1.5s infinite;
  opacity: 0.5;
}

@keyframes ripple {
  0% {
    transform: scale(1);
    opacity: 0.5;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}
